<package_upanishad_sec-root>
    <section-header title="Package: UPANISHAD"></section-header>

    <section-container title="概要">
    </section-container>

    <section-container title="CLASSES">
    </section-container>

    <package_upanishad_sec-root_operators></package_upanishad_sec-root_operators>
</package_upanishad_sec-root>
