<package_upanishad-pool-perpetuation_sec-root>
    <section-header title="Package: UPANISHAD.POOL.PERPETUATION"></section-header>

    <section-container title="概要">
        <div class="contents">
            <p>永続化機能のパッケージです。</p>
        </div>
    </section-container>

    <section-container title="CLASSES">
    </section-container>
</package_upanishad-pool-perpetuation_sec-root>
