<package_upanishad-pool-core_sec-root>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">UPANISHAD.POOL.CORE</h1>
                <h2 class="subtitle">Package</h2>
            </div>
        </div>
    </section>

    <section-container title="概要">
    </section-container>

    <section-container title="CLASSES">
        <section-contents title="CLASS図">
            <p>
                <pre style="font-size:12px; line-height:12px;">
                </pre>
            </p>
        </section-contents>
    </section-container>

    <package_upanishad-pool-core_sec-root_operators>
    </package_upanishad-pool-core_sec-root_operators>

</package_upanishad-pool-core_sec-root>
