<usage-sec_root_index-basic class="usage-section-root">
    <section class="section">
        <div class="container">
            <h1 class="title is-4">index の追加/削除</h1>
            <h2 class="subtitle">
            </h2>
        </div>

        <section class="section">
            <div class="container">
                <h1 class="title is-5">スロットインデックスの追加</h1>
                <h2 class="subtitle">tx-add-index</h2>
                <div class="content">
                    <p><pre>
                    </pre></p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-5">スロットインデックスの取得</h1>
                <h2 class="subtitle">get-index</h2>
                <div class="content">
                    <p><pre>
                    </pre></p>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title is-5">スロットインデックスの削除</h1>
                <h2 class="subtitle">tx-remove-index</h2>
                <div class="content">
                    <p><pre>
                    </pre></p>
                </div>
            </div>
        </section>

    </section>
</usage-sec_root_index-basic>
