<package_upanishad-pool-librarian_sec-readme>
    <section class="section">
        <div class="container">
            <h1 class="title">概要</h1>
            <div>
                <p>オブジェクトを永続化するライブラリです。</p>
            </div>
        </div>
    </section>
</package_upanishad-pool-librarian_sec-readme>
