<package_upanishad-pool-librarian_sec-classes>
    <section class="section">
        <div class="container">
            <section-container title="CLASSES">
                <section-contents title="CLASS図">
                    <p>
                        <pre style="font-size:12px; line-height:12px;">
                        </pre>
                    </p>
                </section-contents>
            </section-container>
        </div>
    </section>
</package_upanishad-pool-librarian_sec-classes>
