<class-1007>

    <class-header></class-header>

    <section class="section">
        <div class="container">
            <h1 class="title">Description</h1>
            <h2 class="subtitle"></h2>

            <div class="contents">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Class Precedence List</h1>
            <h2 class="subtitle"></h2>

            <div class="contents">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">Slot List</h1>
            <h2 class="subtitle"></h2>

            <div class="contents">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="title">See Also</h1>
            <h2 class="subtitle"></h2>

            <div class="contents">
            </div>
        </div>
    </section>

    <dependencies></dependencies>

</class-1007>
