.symbol .section {
    padding-top: 11px;
    padding-bottom: 22px;
}

.symbol .syntax {
    font-size: 24px;
    width: auto;
    background: #eeeeee;
    padding: 11px 22px;
    border-radius: 3px;
}

.symbol .container > .contents {
    padding-left: 22px;
    padding-top: 11px;
}
