app .page-root {
    display: block;
    height: 100vh;
    overflow: auto;
    /* padding-left: 55px; */
}


/* ***** */
/* table */
/* ***** */
app .hide {
    display: none;
}

app .table th {
    background: #830411;
    color: #FFDE59;
}
app .table td.num {
    text-align: right;
}


/* ********* */
/* up-header */
/* ********* */
app .up-header {
    background: #FFDE59;
}

app .up-header .title{
    color: #830411;
}
app .up-header .subtitle{
    color: #830411;
}
